.loading {
    margin: 0;
    padding: 0;
    background-color: white;




}

.center {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.ring {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;

}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px red;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px yellow;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px blue;
    }
}

.ring::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
    border-radius: 50%;

}

.loadingSpan {
    display: flex;

    color: lightgray;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 2s ease-in-out infinite;
}

@keyframes text {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}